/*
*   @type css
*   @name main.css
*   @auth Harry Phillips
*/

#kbs-gui-wrapper {}

.kbs-cons {
    background: #000;
    position: fixed;
    top: 0; right: 0;
    width: 500px;
    height: 300px;
    z-index: 2147483647;
}

.kbs-cons-out {
    position: relative;
}