@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

/*
*   @type css
*   @name main.css
*   @copy Copyright 2015 Harry Phillips
*/

/* set transitions
------------------------------------------------------------------------------*/
.kbs-cons-box, .kbs-cons, .kbs-object, .kbs-object-expand {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* main gui wrapper 
------------------------------------------------------------------------------*/
.kbs-gui * {
    box-sizing: border-box;
}

.kbs-gui {
    font-family: Open Sans;
    font-size: 18px;
}

/* gui overlay 
------------------------------------------------------------------------------*/
.kbs-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 2147483646;
    display: none;
}

/* gui modals */
.kbs-modal {
    position: fixed;
    top: 50%; left: 50%;
    background-color: #405662;
    color: #fff;
    width: 600px; height: 400px;
    margin-left: -300px;
    margin-top: -200px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    z-index: 2147483647;
}

.kbs-modal-title {
    float: left;
    background-color: #253964;
    width: 90%; height: 40px;
    margin: 0;
    padding: 5px;
    font-size: 20px;
    text-align: left;
}

.kbs-modal.kbs-prompt {
    width: 400px; height: 200px;
    margin-left: -200px;
    margin-right: -100px;
}

.kbs-modal-msg {
    display: inline-block;
    width: 100%; height: 80px;
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

.kbs-modal-close {
    background-color: #7e1a1a;
    color: #fff;
    float: left;
    width: 10%; height: 40px;
    margin: 0; padding: 0;
    border: solid transparent 0px;
    font-size: 22px;
    line-height: 1.6em;
    text-align: center;
    cursor: pointer;
    
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, border 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.kbs-modal-close:hover {
    background-color: #7e1a1a;
    color: #fff;
    border-bottom: solid #ff0000 40px;
}

.kbs-confirm,
.kbs-cancel {
    background-color: #fff;
    color: #000;
    width: 100px; height: 30px;
    margin: 0 2px;
    border: solid transparent 0px;
    padding: 5px 15px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, border 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.kbs-confirm:hover {
    background-color: #6a8e29;
    color: #fff;
    border-bottom: ;
}

.kbs-cancel:hover {
    background-color: #8e2929;
    color: #fff;
    border-bottom: ;
}

/* gui console wrapper 
------------------------------------------------------------------------------*/
.kbs-cons-box {
    background: #1b1b1b;
    color: #fff;
    position: fixed;
    top: 0; right: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    z-index: 2147483645;
    overflow: hidden;
}

/* console status */
.kbs-cons-box.kbs-open {
    width: 50%; height: 50%;
    min-width: 450px; min-height: 300px;
    border: solid #405662 3px;
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 10px;
}

.kbs-cons-box.kbs-full {
    width: 100%; height: 100%;
    border: solid #405662 0px;
    border-radius: 0px;
}

.kbs-full .kbs-cons-out {
    font-size: 16px;
}

.kbs-cons-box.kbs-close {
    width: 30px; height: 30px;
    min-width: 30px; min-height: 30px;
    border: solid #405662 0px;
    border-radius: 0px;
}

/* console toolbar 
------------------------------------------------------------------------------*/
.kbs-cons-toolbar {
    background-color: #405662;
    position: relative;
    box-shadow: 0 0 4px rgba(0,0,0, 0.4);
    text-align: right;
    z-index: 2147483647;
}

/* console title */
.kbs-cons-title {
    color: #fff;
    margin-top: 3px;
    text-align: left;
    float: left;
}

.kbs-cons-box.kbs-close .kbs-cons-title {
    display: none;
}

/* console tool btn */
.kbs-tool {
    background-color: #fff;
    color: #1a1a1a;
    display: inline-block;
    width: 30px; height: 30px;
    margin: 0; padding: 0;
    border-bottom: solid transparent 0px;
    line-height: 1.6em;
    text-align: center;
    cursor: pointer;
    
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, border 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.kbs-tool:hover {
    background-color: #1a1a1a;
    color: #fff;
    border-bottom: solid #000 30px;
}

.kbs-save {
    background-color: #429e7e;
    color: #fff;
}

.kbs-save:hover {
    background-color: #fff;
    color: #429e7e;
}

.kbs-toggle {
    background-color: #91d467;
    color: #fff;
}

.kbs-toggle:hover {
    background-color: #fff;
    color: #91d467;
}

.kbs-clear {
    background-color: #9049ce;
    color: #fff;
}

.kbs-clear:hover {
    background-color: #fff;
    color: #9049ce;
}

.kbs-close {
    background-color: #cc4141;
    color: #fff;
}

.kbs-close:hover {
    background-color: #fff;
    color: #cc4141;
}

.kbs-destroy {
    background-color: #b82c2c;
    color: #fff;
}

.kbs-destroy:hover {
    background-color: #fff;
    color: #b82c2c;
}

.kbs-example {
    background-color: #1a1a1a;
    color: #fff;
}

.kbs-example:hover {
    background-color: #fff;
    color: #1a1a1a;
}

/* console output wrapper
------------------------------------------------------------------------------*/
.kbs-cons {
    background: #000;
    position: absolute;
    top: 30px; bottom: 0;
    left: 0; right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* console out content */
.kbs-cons-out {
    position: relative;
    padding: 0;
    font-family: Courier New;
    font-size: 12px;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    -o-transition: font-size 0.3s;
    transition: font-size 0.3s;
}

/* console log nodes
------------------------------------------------------------------------------*/
/* individual log node */
.kbs-log-node {
    padding: 6px;
    word-break: break-all;
    white-space: normal;
}

/* object log node */
.kbs-object {
    position: relative;
    background-color: #2a2a2a;
    color: #fff;
    height: 150px;
    margin: 0;
    margin: 3px;
    padding: 10px;
    font-family: Courier New;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.3em;
    overflow-y: scroll;
}

.kbs-object-expand {
    position: relative;
    top: 2px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
}

.kbs-object-expand.kbs-rotate {
    color: #dd2b2b;
    top: 3px;
}

.kbs-object-expand:hover {
    color: #96e64b;
}

.kbs-object-expand.kbs-rotate:hover {
    color: #ab1b1b;
}

/* type: 'log' */
.kbs-log {
    background-color: #000;
    color: #fff;
}

/* type: 'info' */
.kbs-info {
    background-color: #eee;
    color: #1a1a1a;
}

/* type: 'debug' */
.kbs-debug {
    background-color: #1b5773;
    color: #fff;
}

/* type: 'okay' */
.kbs-okay {
    background-color: #2d8444;
    color: #fff;
}

/* type: 'warn' */
.kbs-warn {
    background-color: #d97330;
    color: #fff;
}

/* type: 'error' */
.kbs-error {
    background-color: #af3535;
    color: #fff;
}

/* type: 'test' */
.kbs-test {
    background-color: #e8df68;
    color: #1a1a1a;
}

/* misc classes
------------------------------------------------------------------------------*/
.kbs-rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}