/*
*   @type css
*   @name theme.css
*   @copy Copyright 2015 Harry Phillips
*/

.kbs-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.kbs-cons-box {
    background: #1b1b1b;
    color: #fff;
}

.kbs-cons-box {
    background-color: #fff;
    border: solid #fff 2px;
}