/*
*   @type css
*   @name theme.css
*   @copy Copyright 2015 Harry Phillips
*/

/*
*   @type css
*   @name theme.css
*   @copy Copyright 2015 Harry Phillips
*/

body {
    background-color: #ddd;
}

/* overlay
--------------------------------------------------------------------*/
.kbs-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

/* modals
--------------------------------------------------------------------*/
.kbs-modal {
    background-color: #262626;
    color: #fff;
    border-radius: 10px;
}

.kbs-modal-title {
    background-color: #e2e2e2;
    color: #000;
}

.kbs-modal-close {
    background-color: #7e1a1a;
    color: #fff;
}

.kbs-modal-close:hover {
    background-color: #7e1a1a;
    color: #fff;
}

.kbs-confirm, .kbs-cancel {
    background-color: #fff;
    color: #000;
}

.kbs-confirm:hover {
    background-color: #6a8e29;
    color: #fff;
}

.kbs-cancel:hover {
    background-color: #8e2929;
    color: #fff;
}

/* console box
--------------------------------------------------------------------*/
.kbs-cons-box {
    background-color: transparent;
    color: #fff;
}

.kbs-cons-box.kbs-open {
    border-left: solid #000 2px;
    border-bottom: solid #000 2px;
}

.kbs-cons-box.kbs-full {
    border: solid #000 0px;
    border-left: solid #000 3px;
}

.kbs-cons-box.kbs-close {
    border: solid #405662 0px;
}

/* console and toolbar
--------------------------------------------------------------------*/
.kbs-cons-toolbar {
    background-color: #000;
}

.kbs-cons-title {
    color: #fff;
    margin: 2px 0 0 5px;
}

.kbs-cons {
    background-color: #fff;
}

/* tools
--------------------------------------------------------------------*/


/* console and output
--------------------------------------------------------------------*/
.kbs-cons {
    background: #fff;
}

.kbs-object {
    background-color: #2a2a2a;
    color: #fff;
}

.kbs-object-expand:hover {
    color: #96e64b;
}

.kbs-object-expand.kbs-rotate {
    color: #dd2b2b;
}

.kbs-object-expand.kbs-rotate:hover {
    color: #ab1b1b;
}

/* console log types
--------------------------------------------------------------------*/
.kbs-log,
.kbs-info,
.kbs-debug,
.kbs-okay,
.kbs-warn,
.kbs-error,
.kbs-test {
    background-color: transparent;
}

.kbs-object {
    background-color: #ddd;
    color: #000;
}

.kbs-log { color: #000; }

.kbs-info {
    background-color: #2a2a2a;
    color: #fff;
}

.kbs-test {
    background-color: #2a2a2a;
    color: #e8df68;
}

.kbs-error {
    background-color: #af3535;
    color: #fff;
}

.kbs-debug { color: #1b5773; }
.kbs-okay { color: #2d8444; }
.kbs-warn { color: #d97330; }
