/*
*   @type css
*   @name theme.css
*   @copy Copyright 2015 Harry Phillips
*/

body {
    background-color: #000;
}

/* overlay
--------------------------------------------------------------------*/
.kbs-overlay {
    background-color: rgba(0, 0, 0, 0.9);
}

/* modals
--------------------------------------------------------------------*/
.kbs-modal * {
    box-shadow: 0 0 transparent;
}

.kbs-modal {
    background-color: #fff;
    color: #1a1a1a;
    border: solid #57758E 3px;
    border-top: 0;
}

.kbs-modal-content {}

.kbs-modal-title {
    background-color: #57758e;
    color: #fff;
}

.kbs-modal-closed {
    background-color: #7e1a1a;
    color: #fff;
    max-width: 50px;
}

.kbs-modal-closed:hover {
    background-color: #7e1a1a;
    color: #fff;
}

.kbs-confirm,
.kbs-cancel,
.kbs-continue {
    background-color: #ddd;
    color: #000;
}

.kbs-confirm:hover {
    background-color: #6a8e29;
    color: #fff;
}

.kbs-cancel:hover {
    background-color: #8e2929;
    color: #fff;
}

.kbs-continue:hover {
    background-color: #6a8e29;
    color: #fff;
}

/* console box
--------------------------------------------------------------------*/
.kbs-cons-box {
    background: #1b1b1b;
    color: #fff;
}

.kbs-cons-box.kbs-open {
    border-left: solid #405662 3px;
    border-bottom: solid #405662 3px;
}

.kbs-cons-box.kbs-full {
    border: solid #405662 0px;
}

.kbs-cons-box.kbs-closed {
    border: solid #405662 0px;
}

/* console toolbar
--------------------------------------------------------------------*/
.kbs-cons-toolbar {
    background-color: #405662;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.8);
}

.kbs-cons-title {
    color: #fff;
}

/* modals
--------------------------------------------------------------------*/
.kbs-modal.kbs-view-screenshot {}

.kbs-screenshot {
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.4);
}


/* tools
--------------------------------------------------------------------*/
.kbs-tool {
    background-color: #fff;
    color: #1a1a1a;
}

.kbs-tool:hover {
    background-color: #1a1a1a;
    color: #fff;
    border-bottom: solid #fff 30px;
}

.kbs-save {
    background-color: #429e7e;
    color: #fff;
}

.kbs-save:hover {
    background-color: #000;
    color: #429e7e;
}

.kbs-menu {
    background-color: #fafafa;
    color: #6E8694;
}

.kbs-menu:hover {
    background-color: #fff;
    border-bottom-color: #6E8694;
    color: #fff;
}

.kbs-toggle {
    background-color: #91d467;
    color: #fff;
}

.kbs-toggle:hover {
    background-color: #000;
    color: #91d467;
}

.kbs-settings {
    background-color: #5177a8;
    color: #fff;
}

.kbs-settings:hover {
    background-color: #000;
    color: #5177a8;
}

.kbs-clear {
    background-color: #9049ce;
    color: #fff;
}

.kbs-clear:hover {
    background-color: #000;
    color: #9049ce;
}

.kbs-close {
    background-color: #cc4141;
    color: #fff;
}

.kbs-close:hover {
    background-color: #000;
    color: #cc4141;
}

.kbs-benchmark {
    background-color: #fed852;
    color: #fff;
}

.kbs-benchmark:hover {
    background-color: #000;
    color: #fed852;
}

.kbs-destroy {
    background-color: #b82c2c;
    color: #fff;
}

.kbs-destroy:hover {
    background-color: #000;
    color: #b82c2c;
}

.kbs-toggleObjs {
    background-color: #d77f27;
    color: #fff;
}

.kbs-toggleObjs:hover {
    background-color: #000;
    color: #d77f27;
}

.kbs-example {
    background-color: #1a1a1a;
    color: #fff;
}

.kbs-example:hover {
    background-color: #fff;
    color: #1a1a1a;
}

/* console and output
--------------------------------------------------------------------*/
.kbs-cons {
    background: #1a1a1a;
}

.kbs-object {
    background-color: #2a2a2a;
    color: #fff;
}

.kbs-object-expand:hover {
    color: #96e64b;
}

.kbs-object-expand.kbs-rotate {
    color: #dd2b2b;
}

.kbs-object-expand.kbs-rotate:hover {
    color: #ab1b1b;
}

/* console log types
--------------------------------------------------------------------*/
/* type: 'log' */
.kbs-log {
    background-color: #000;
    color: #fff;
}

/* type: 'info' */
.kbs-info {
    background-color: #eee;
    color: #1a1a1a;
}

/* type: 'debug' */
.kbs-debug {
    background-color: #1b5773;
    color: #fff;
}

/* type: 'okay' */
.kbs-okay {
    background-color: #2d8444;
    color: #fff;
}

/* type: 'warn' */
.kbs-warn {
    background-color: #d97330;
    color: #fff;
}

/* type: 'error' */
.kbs-error {
    background-color: #af3535;
    color: #fff;
}

/* type: 'test' */
.kbs-test {
    background-color: #e8df68;
    color: #1a1a1a;
    
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.kbs-test:hover {
    background-color: #1a1a1a;
    color: #e8df68;
}

/* type: 'exec' */
.kbs-exec {
    background-color: #8610c6;
    color: #fff;
    
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.kbs-exec:hover {
    background-color: #580b84;
}

/* type: 'buffer' */
.kbs-buffer {
    background-color: #e8df68;
    color: #1a1a1a;
    
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.kbs-buffer:hover {
    background-color: #1a1a1a;
    color: #e8df68;
}

/* bugherd style overrides
--------------------------------------------------------------------*/
/* task expanded */
.kbs-details-expand {
    border: solid #DCE6EA 3px;
    border-top-width: 5px;
}

/* main app wrapper */
.app-wrap * {
    box-shadow: 0 0 transparent !important;
}

/* project settings button */
#project-settings .dropdown-toggle {
    cursor: pointer;
}

/* new task button */
.pane-head .pane-right .button-newIssue.btn-primary {
    background-image: none;
    border-color: transparent !important;
    box-shadow: 0 0 transparent !important;
}

.pane-head .pane-right .button-newIssue span {
    background-image: none !important;
    padding-left: 0px !important;
}

span.assignee-avatar {
    border: solid #000 2px !important;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4) !important;
}

.taskContent.p1 *,
.taskContent.p2 *,
.taskContent.p3 *,
.taskContent.p4 * {
    color: #fff;
}

#kanbanBoard .task.p0,
#kanbanBoard .task.p1,
#kanbanBoard .task.p2,
#kanbanBoard .task.p3,
#kanbanBoard .task.p4 {
    border: solid #1a1a1a 1px !important;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2) !important;
}

#kanbanBoard .task.p0 .task-severity,
#kanbanBoard .task.p1 .task-severity,
#kanbanBoard .task.p2 .task-severity,
#kanbanBoard .task.p3 .task-severity,
#kanbanBoard .task.p4 .task-severity {
    display: none !important;
}

#kanbanBoard .task.p1 *,
#kanbanBoard .task.p2 *,
#kanbanBoard .task.p3 *,
#kanbanBoard .task.p4 * {
    color: #fff !important;
}

.task.p0, .taskContent.p0 {
    background-color: #CCCCCC !important;
}

.task.p1, .taskContent.p1 {
    background-color: #D46060 !important;
}

.task.p2, .taskContent.p2 {
    background-color: #E8B019 !important;
}

.task.p3, .taskContent.p3 {
    background-color: #60C5D4 !important;
}

.task.p4, .taskContent.p4 {
    background-color: #8BB863 !important;
}

#kanbanBoard .task.p0,
#kanbanBoard .task.p0 .task-id {
    color: #1a1a1a !important;
}

#kanbanBoard .task .task-info {
    border-radius: 0px !important;
    z-index: 99;
}

/* lhs tag list */
.cta-tag {
    border: solid #bbb 1px !important;
}

#kanbanBoard .task .task-info {
    background-color: #3a3a3a;
    color: #fff;
}

/* center pane */
.pane-center .pane-content {
    background-image: none;
    background-color: #eee;
    border-left: 0;
    border-right: 0;
    box-shadow: inset 0 39px 8px rgba(0, 0, 0, 0.08) !important;
}

/* active/selected task */
#kanbanBoard li.taskItem.active {
    outline: solid transparent 0 !important;
    border: solid #1685ed 2px !important;
    box-shadow: 2px 2px 8px rgba(17, 134, 160, 0.8) !important;
}

/* task detail */
.taskDetails,
.taskDetails .taskDetailContent {
    background-color: #EAF4F7;
}

/* attachment tag */
.attachBlock .attachList li {
    background-color: #ccc !important;
}
